@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #888;
    padding: 0.5vmax 1.5vmax;
}
body::-webkit-scrollbar{
    display: none;
}

#page-1{
    height: 100vh;
    width: 100%;
}

nav{
    width: 100%;
    padding: 1% 0%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1vmax;
    font-family: "Roboto Condensed";
    position: relative;
    font-weight: 500;
}
#nav-left{
    display: flex;
    align-items: center;
    gap: 30%;
}
#center-nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero{
    height: 300px;
    /* width: 100%; */
    margin-top: 10vw;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#susan-div{
    width: 25%;
    height: 40vh;
}
#susan-div p{
    opacity: 0.6;
    margin: 5% 0;
}
#susan-img-div{
    width: 70%;
    height: 100%;
    /* object-fit: cover; */
}

#susan-img-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}